

<% form_tag sessions_path, :class => "uniForm" do -%>
  <%= error_messages_for :user %>
  <fieldset class="inlineLabels">
    <legend>Login</legend>

    <div class="ctrlHolder">
        <label for="login">Login</label>
        <%= text_field_tag 'login', {}, :class => "textInput" %>
    </div>
	
    <div class="ctrlHolder">
      <label for="password">Password</label>
      <%= password_field_tag 'password', {}, :class => "textInput" %>
    </div>
    
	<div class="ctrlHolder">
      <label for="remember_me">Remember me:</label>
      <%= check_box_tag 'remember_me' %>
    </div>
    
	<p>
      ...or use:
    </p>

    <div class="ctrlHolder">
      <label for="openid_url">OpenID:</label>
      <%= text_field_tag "openid_url", {}, :class => "textInput openidUrl" %>
    </div>
    
    <div class="buttons">
      <button type="submit">Login</button>
    </div>

    <div>
      <%= link_to 'Sign Up', signup_url %> - <%= link_to "Forgot Your Password?", forgot_password_path %>
    </div>
	
  </fieldset>
<% end -%>
