
<% form_for :user, :url => users_path, :html => {:class => "uniForm"} do |f| -%>
  <%= error_messages_for :user %>
  <fieldset class="inlineLabels">
    <legend>Sign Up</legend>
    
    <div class="ctrlHolder">
        <label for="user_login">Login</label>
        <%= f.text_field :login, :class => "textInput" %>
    </div>

    <div class="ctrlHolder">
        <label for="user_name">Full name</label>
        <%= f.text_field :name, :class => "textInput" %>
    </div>
	
    <div class="ctrlHolder">
        <label for="user_email">Email</label>
        <%= f.text_field :email, :class => "textInput" %>
    </div>
	
    <div class="ctrlHolder">
        <label for="user_password">Password</label>
        <%= f.password_field :password, :class => "textInput" %>
    </div>
	
    <div class="ctrlHolder">
        <label for="user_password_confirmation">Confirm Password</label>
        <%= f.password_field :password_confirmation, :class => "textInput" %>
    </div>

    <% if @user.nil? || @user.identity_url.blank? %>
    
      <p>
        ...or use:
      </p>

      <div class="ctrlHolder">
          <label for="openid_url">OpenID:</label>
          <%= text_field_tag "openid_url", {}, :class => "textInput openidUrl" %>
      </div>
	  
    <% else %>
	
      <div class="ctrlHolder">
        <label for="user_identity_url">OpenID</label>
        <%= f.text_field :identity_url, :readonly => true, :class => "textInput" %>
      </div>
    
	<% end %>
    
    <div class="buttons">
      <button type="submit" class="positive">Sign Up</button>
    </div>
	
  </fieldset>
<% end -%>
